.main{
    padding: 1rem 5rem;
    font-family: 'Baloo Chettan 2', cursive
}

.h1{
    font-size: 5rem;
    background-color: aqua;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    display: inline-block;
    padding: 1.5rem 3.5rem;
    margin-bottom: 2.8rem
}

.titleContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.h3{
    display:inline;
    background-color: aqua;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    font-size: 2.5rem;
    margin: 1rem 0;
    padding: .5rem 2rem;
}

.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows:  25rem;
    margin: 2.5rem 0;
    gap: 2rem;
}

.card{
    background-color: aqua;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    font-size: 2.3rem;
    text-align: justify;
    padding: .5rem .8em 

}

.title{
    margin-bottom: 4rem;

}

