.main{
    padding: .5rem 5rem;
    font-family: 'Baloo Chettan 2', cursive;
}

.h1{
    background-color: aqua;
    padding: 1rem 2em;
    display: inline-block;
    font-size: 4rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.h3Container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
}

.h3{
    background-color: aqua;
    padding: 1rem 3em;
    font-size: 2rem;
    border-radius: .9rem;
    -webkit-border-radius: .9rem;
    -moz-border-radius: .9rem;
    -ms-border-radius: .9rem;
    -o-border-radius: .9rem;

}

.pSpan{
    font-weight: 700;
}

.p{
    width: 100%;
    text-align: justify;
    font-size: 2rem;
    background-color:aqua;
    min-height: 13em;
    height: 15rem;
    margin-top: 3rem;
    padding: 1rem 3em;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}